<div class="container-fluid g-0">

  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>

  <main>
    <app-side-nav class="side" [sideNavStatus]="sideNavStatus"
      [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>

    <div class="display-area p-3"
      [ngClass]="{'display-area-shrink': sideNavStatus}">
      <section>
        <div class="d-flex justify-content-center align-items-center h-100">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </main>
</div>