<div class="text-center" style="background-color: #004673; color: #ffffff">
  <hr />
  <h1>Egresado</h1>
  <hr />
</div>

<section>
  <div class="card content-card">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://pbs.twimg.com/media/E2-DCpnXIAAH8gy?format=jpg&name=large"
          alt="Imagen de la Rectora"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mensaje de Nuestra Rectora</h5>
          <p class="card-text text-parrafo" style="text-align: justify">
            Estimada, estimado egresado: Para nosotros es un orgullo que hayas
            culminado tus estudios en nuestra Casa de Estudios y te encuentres
            en otra etapa de tu vida como profesionista. Como parte de nuestra
            Comunidad UTL, nos interesa mucho mantener lazos comunicativos
            contigo porque tenemos áreas de servicio y atención para ti.
          </p>
          <p class="card-text text-parrafo" style="text-align: justify">
            Queremos que sientas la puerta siempre abierta de tu universidad
            para brindarte herramientas o recursos para tu exitoso desarrollo
            profesional. Es por ello que en esta zona dedicada exclusivamente a
            ti, podrás encontrar información constante sobre la bolsa de
            trabajo, proyectos de incubación empresarial, educación continua e
            incluso la oportunidad de integrarte a nuestro equipo de trabajo, ya
            sea como administrativo o docente de nuestra universidad. Como
            egresada o egresado, la UTL te acompaña, porque la UTL está donde tú
            estés.
          </p>
          <p class="card-text" style="text-align: justify">
            Yoloxóchitl Bustamante Díez
          </p>
          <p class="card-text" style="text-align: justify">
            Encargada del Despacho de Rectoría
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<section>
  <div class="card content-card">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Bolsa de Trabajo</h5>
          <p class="card-text" style="text-align: justify">
            Bolsa de Trabajo es un espacio para que tú como egresado/a puedas
            actualizar tus datos y consultar las vacantes que las empresas e
            instituciones ofrecen.
          </p>
          <p class="card-text" style="text-align: justify">
            La lista de vacantes activas la puedes consultar en el SITO
            ingresando con tu matrícula y contraseña en el módulo Bolsa de
            Trabajo / Vacantes / Agregar y/o consultar Vacantes.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img12.jpg"
          alt="Bolsa de Trabajo"
          style="width: 100%; height: 100%"
        />
      </div>
    </div>
  </div>
</section>
<br />
<section>
  <div class="card content-card">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://files.rcnradio.com/public/2022-03/Oferta%20de%20empleo.jpg?VersionId=A8fVQJrzYhBE7IRGvRBGVtk_c4zxQsbp"
          alt="Fondos Guanajuato"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Fondos Guanajuato</h5>
          <p class="card-text" style="text-align: justify">
            Fondos Guanajuato tiene financiamientos para ti, consulta las reglas
            de operación.
          </p>
          <p class="card-text" style="text-align: justify">
            IdeaGto y el Valle de la Mentefactura tienen programas del impulso
            que llevan tus ideas, proyectos y negocios al siguiente nivel,
            consulta las reglas de operación.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<section>
  <div class="card content-card">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Seguimiento de Egresados</h5>
          <p class="card-text" style="text-align: justify">
            Es necesario que la información del SITO esté actualizada para que
            sigas estando vigente en la Bolsa de Trabajo, de esta manera podrás
            visualizar las vacantes y tener acceso a ferias de empleo y
            reclutamientos.
          </p>
          <p class="card-text" style="text-align: justify">
            Para actualizar tu información es necesario ingresar al SITO en
            Egresados / Seguimiento de Egresados/as / Información y Encuestas de
            Egreso / DGA (Datos Generales del Alumnado y actualiza teléfono
            celular, correo electrónico, estado civil, domicilio, teléfono de
            casa o recados y referencias).
          </p>
          <p class="card-text" style="text-align: justify">
            La información que proporciones es exclusiva para el Departamento de
            Seguimiento de Egresados/as.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img13.jpg"
          alt="Your Image"
          style="width: 100%; height: 100%"
        />
      </div>
    </div>
  </div>
</section>
<br />

<!-- <section>
    <div class="card content-card">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Contactanos</h5>
                    <p class="card-text" style="text-align: justify;">
                        <strong>Diana Esmeralda Vázquez Álvarez</strong> - <a
                            href="mailto:dvazquez@utleon.edu.mx">dvazquez@utleon.edu.mx</a>
                    </p>
                    <p class="card-text" style="text-align: justify;">
                        <strong>Fátima Juárez Granados</strong> - <a
                            href="mailto:majuarez@utleon.edu.mx">majuarez@utleon.edu.mx</a>
                    </p>
                    <p class="card-text" style="text-align: justify;">
                        <strong>Tel:</strong> 477 710 00 20 Ext. 421, 424 y 428
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://example.com/your-image.jpg" alt="Your Image"
                    style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
</section>
<br>
<section class="text-center-content">
    <h3>Emprendimiento de proyectos</h3>
</section>

<section class="text-center-content">
    <h4>¿Sueñas con tener tu propia empresa?
        Acércate a nosotros.
        ¡Te ayudamos a desarrollar tu idea de negocio!</h4>
    <p>
        Planea, desarrolla y estructura tu modelo de negocio para asegurar el
        éxito de tu emprendimiento.
    </p>
    <p>
        El Centro Incubador de Empresas (CIEM) de la UTL es la entidad encargada
        de fomentar una cultura de emprendimiento e innovación para la creación
        de nuevas empresas a través de la incubación de negocios, ideas y
        proyectos, generados entre la comunidad universitaria y la sociedad en
        general.
    </p>
    <p>
        Somos una Incubadora reconocida e integrada a la Red de Incubadoras del
        Subsistema de Universidades Tecnológicas (RISUT) y que forma parte de la
        Red Estatal de Incubadoras de Guanajuato.
    </p>
</section>

<section class="text-center-content tarjetas">
    <div class="tarjeta">
        <div class="contenido">
            <p>Consigue lanzar tu empresa al mercado asesorado por mentores
                especialistas.</p>
            <button class="btn btn-primary">Registrate</button>
        </div>
    </div>

    <div class="tarjeta">
        <div class="contenido">
            <p>Fondos Guanajuato tiene financiamientos para ti, consulta las
                reglas de operación.</p>
            <button class="btn btn-primary">Ver Reglas</button>
        </div>
    </div>

    <div class="tarjeta">
        <div class="contenido">
            <p>IdeaGto y el Valle de la Mentefactura tienen programas del
                impulso que llevan tus ideas, proyectos y negocios al
                siguiente nivel, consulta las reglas de operación.</p>
            <button class="btn btn-primary">Ver Reglas</button>
        </div>
    </div>
</section>

<section class="text-center-content">
    <h2>Contactanos</h2>
    <form>
        <div class="contacto-info">
            <div class="contacto">
                <p><strong>Centro Incubador de Empresas (CIEM)</strong></p>
                <p>Campus Central y Campus II</p>
                <p>Lcda. Araceli Hernández Pérez</p>
                <p>Tel. (477) 710 0020</p>
                <p>Ext. 431, 420</p>
                <p>Edificio del Centro de Información, 1er Nivel</p>
                <p>Correo: <a>ciem@utleon.edu.mx</a></p>
                <p>Lunes a viernes de 8:30 a 16:30 hrs.</p>
            </div>
            <div class="contacto">
                <p><strong>Unidad Académica del Sureste</strong></p>
                <p>Lcdo. Jonathan Hernández Ávila</p>
                <p>Tel: (417) 155 0600</p>
                <p>Ext. 642</p>
                <p>Edificio de biblioteca</p>
                <p>Correo: <a>jhavila@utleon.edu.mx</a></p>
                <p>Lunes a viernes de 8:00 a 16:00 hrs.</p>
            </div>
        </div>
    </form>
</section>

<section class="text-center-content">
    <h3> Educación Continua</h3>
</section>

<section class="text-center-content">
    <h4>Objetivo</h4>
    <p>Ofrecer servicios de capacitación en diferentes modalidades como cursos,
        talleres y diplomados, desarrollados en colaboración con docentes de las
        diferentes direcciones académicas, dirigidos tanto a egresados(as) y
        demás integrantes de la Universidad, así como al público en general, con
        el propósito de apoyarles en su actualización profesional.</p>
    <aside>
        <img
            src="https://boletines.guanajuato.gob.mx/wp-content/uploads/2022/11/01-31.jpg"
            alt="Imagen de Educación Continua" class="centered-image" />
    </aside>
    <br>
    <h4>Próximos Cursos Septiembre - Diciembre 2022</h4>
</section>

<section class="text-center-content">
    <h2>Contactanos</h2>
    <p>
        <strong>José Francisco Hernández García</strong> - <a>jhedz@utleon.edu.mx</a>
        <br>
        <strong>Luis Efrén Ramos de Anda</strong> - <a>lramos@utleon.edu.mx</a>
        <br>
        <strong>José de Jesús Elías Balderas</strong> - <a>jelias@utleon.edu.mx</a>
        <br>
        <strong>Tel:</strong> 477 710 00 20 Ext. 418, 425 y 430
    </p>
</section>

<section class="text-center-content">
    <h3>¿Quieres laborar en la UTL?</h3>
    <br>
    <div class="container">
        <div class="container text-center">
            <div class="row row-cols">
                <div class="col">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse"
                            href="#collapseExample"
                            role="button" aria-expanded="true"
                            aria-controls="collapseExample">
                            <b>Convocatorias </b>
                        </a>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse"
                            href="#collapseExample1"
                            role="button" aria-expanded="true"
                            aria-controls="collapseExample1">
                            <b>Proceso de selección</b>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->
