<section>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicadores de carrusel -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>

      <!-- Contenido del carrusel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="assets/ejemplo1.jpeg"
            alt="Imagen 1"
            style="width: 600px; height: 400px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/assets/img14.jpg"
            alt="Imagen 2"
            style="width: 600px; height: 400px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://th.bing.com/th/id/R.a67a32e4a847e4c0fbd124d70314fcad?rik=EW34e63kIRqgcA&pid=ImgRaw&r=0"
            alt="Imagen 3"
            style="width: 600px; height: 400px"
          />
        </div>
      </div>

      <!-- Controles de carrusel -->
      <a
        class="carousel-control-prev"
        href="#myCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </a>
      <a
        class="carousel-control-next"
        href="#myCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </a>
    </div>
  </div>
</section>
<hr />
<br />
<section>
  <div class="d-flex justify-content-center align-items-center h-100">
    <h4>Noticias</h4>
  </div>
</section>
<section>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="row">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/ejemplo1.jpeg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Convenio de colaboración con la empresa “Sandalias Aztlán”
              </h5>
              <p class="card-text">
                La Universidad Tecnológica de León llevó a cabo la firma
                convenio de colaboración con la empresa “Sandalias Aztlán” con
                el objetivo de fortalecer y enriquecer el crecimiento de
                nuestros y nuestras estudiantes en beneficio de ambos sectores.
                Para dicha firma, por parte de UTL la Doctora. Yoloxóchitl
                Bustamante Díez, Encargada de la Rectoria de esta Casa de
                Estudios y el Ingeniero Alegrando Orozco Castro Gerente General
                por parte Empresa Sandalias Aztlán. Agradecemos a la empresa
                Sandalias Aztlán por su participación para fortalecer el
                crecimiento de la universidad.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >jueves, 12 de Octubre de 2023</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/ejemplo2.jpeg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Se imparte Ponencia Magistral Los Rellenos Sanitarios en UTL
              </h5>
              <p class="card-text">
                La Universidad Tecnológica de León llevó a cabo la firma de
                Convenio de colaboración con la empresa Forte Innovation
                Consulting, con el objetivo de analizar y realizar acciones que
                beneficien al sector empresarial y a la comunidad estudiantil,
                promoviendo el desarrollo del talento humano a través la
                promoción e implementación de la educación dual en temas
                tecnológicos y de innovación. Agradecemos a la Ingeniera Selene
                Diez y su equipo de trabajo por la confianza en esta casa de
                estudios y por ser impulsores del desarrollo educativo de
                nuestro estudiantado.
              </p>
              <p class="card-text">
                <small class="text-body-secondary"
                  >jueves, 12 de Octubre de 2023</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
